@use 'sass:math';

$repeat: 20;

@function random-color() {
  $red: math.random(255);
  $green: math.random(255);
  $blue: math.random(255);
  @return rgb($red, $green, $blue);
}

@for $i from 1 through $repeat {
  .item-#{$i} {
    height: if($i % 2 == 0, 250px, 200px);
    background-color: random-color();
    margin: 10px;
    border-radius: 8px;
  }
}
